In [10]:
# import necessary libraries at once

import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
import requests
import warnings
warnings.filterwarnings('ignore')
import re

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
#### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
#### You need to find following details:
    A) Rank
    B) Name
    C) Artist
    D) Upload date
    E) Views

Q1.Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [30]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the wikipedia
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

time.sleep(2)
#scraping names of the video
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    name.append('No details available')
    
time.sleep(2)    
#scraping rank of the video
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    rank.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    rank.append('No details available')

time.sleep(2)
#scraping artist/uploader of the video
artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    artist.append('No details available')
    
time.sleep(2)    
#scraping views of the video
views=[]
try:
    views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        views.append(i.text)
except NoSuchElementException:#handling no such element exception
    views.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    views.append('No details available')
    
time.sleep(2)    
#scraping views of the video
upload_date=[]
try:
    upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        upload_date.append(i.text)
except NoSuchElementException:#handling no such element exception
    upload_date.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    upload_date.append('No details available')
    
time.sleep(2)    
#preparing dataframe
df=pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Uploader/artist":artist,
                "Date of upload":upload_date,
                "Views(in billion)":views})
df

,Rank,Name,Uploader/artist,Date of upload,Views(in billion)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.58
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.99
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.50
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.83
4,5.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.68
5,6.,"""See You Again""[16]",Wiz Khalifa,"April 6, 2015",5.68
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.96
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.73
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.69
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.58
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.50
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.11
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.77
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.67
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.67
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.60
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.56
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.51
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.41
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.37
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.36
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.34
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.32
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.29
25,26.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.28
26,27.,"""Lean On""[45]",Major Lazer,"March 22, 2015",3.28
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.27
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.22
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.19

In [31]:
driver.close()

## 2. Scrape the details team India’s international fixtures from bcci.tv.
#### Url = https://www.bcci.tv/.
#### You need to find following details:
    A) Match title(I.e. 1st ODI)
    B) Series
    C) Place
    D) Date
    E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through cod

In [14]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")

# get webpage
driver.get(" https://www.bcci.tv/")
driver.maximize_window()

In [20]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [22]:
# Scrape all Name Tag

NAME=[]
name_tag=driver.find_elements_by_xpath("//div[@class='fixture-card-top']/h5[2]")

for i in name_tag:
    ntitle=i.text
    NAME.append(ntitle)
    
NAME

['ICC MENS T20 WORLD CUP 2022',
 'INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23',
 'INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23',
 'INDIA TOUR OF BANGLADESH ODI SERIES 2022-23']

In [23]:
#Scrape all Place tag

PLACE=[]
place_tag=driver.find_elements_by_xpath("//div[@class='fixture-card-bottom']")
for i in place_tag:
    ptitle=i.text.split("-")[1]
    PLACE.append(ptitle)
PLACE

[' Melbourne Cricket Ground, Melbourne\nMatch Centre',
 ' Sky Stadium, Wellington\nMatch Centre',
 ' Bay Oval, Mount Maunganui\nMatch Centre',
 ' Mclean Park, Napier\nMatch Centre',
 ' Eden Park, Auckland\nMatch Centre',
 ' Seddon Park, Hamilton\nMatch Centre',
 ' Hagley Oval, Christchurch\nMatch Centre',
 ' Shere Bangla National Stadium, Mirpur, Dhaka\nMatch Centre']

In [24]:
#Scrape all title tag

TITLE=[]
title_tag=driver.find_elements_by_xpath("//div[@class='fixture-card-bottom']")
for i in title_tag:
    ttitle=i.text.split("-")[0]
    TITLE.append(ttitle)
TITLE

['5th T20I ',
 '1st T20I ',
 '2nd T20I ',
 '3rd T20I ',
 '1st ODI ',
 '2nd ODI ',
 '3rd ODI ',
 '1st ODI ']

In [25]:
# Scrape All Date tag

DATE=[]
date_tag=driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']")
for i in date_tag:
    date=i.text
    DATE.append(date)
DATE

['6 NOV 2022',
 '18 NOV 2022',
 '20 NOV 2022',
 '22 NOV 2022',
 '25 NOV 2022',
 '27 NOV 2022',
 '30 NOV 2022',
 '4 DEC 2022']

In [26]:
# Scrape All Time tag

TIME=[]
time_tag=driver.find_elements_by_xpath("//div[@class='match-card-right match-schedule ']")
for i in time_tag:
    timetag=i.text
    TIME.append(timetag)
TIME

['1:30 PM IST',
 '12:00 PM IST',
 '12:00 PM IST',
 '12:00 PM IST',
 '7:00 AM IST',
 '7:00 AM IST',
 '7:00 AM IST',
 '12:30 PM IST']

In [27]:
# Create Dataframe

Fixtures=pd.DataFrame({})
Fixtures['Title']=TITLE
Fixtures['Name']=NAME
Fixtures['Place']=PLACE
Fixtures['Date']=DATE
Fixtures['Time']=TIME
Fixtures

,Title,Name,Place,Date,Time
0,5th T20I,ICC MENS T20 WORLD CUP 2022,"Melbourne Cricket Ground, Melbourne\nMatch Ce...",6 NOV 2022,1:30 PM IST
1,1st T20I,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Sky Stadium, Wellington\nMatch Centre",18 NOV 2022,12:00 PM IST
2,2nd T20I,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Bay Oval, Mount Maunganui\nMatch Centre",20 NOV 2022,12:00 PM IST
3,3rd T20I,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Mclean Park, Napier\nMatch Centre",22 NOV 2022,12:00 PM IST
4,1st ODI,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Eden Park, Auckland\nMatch Centre",25 NOV 2022,7:00 AM IST
5,2nd ODI,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Seddon Park, Hamilton\nMatch Centre",27 NOV 2022,7:00 AM IST
6,3rd ODI,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Hagley Oval, Christchurch\nMatch Centre",30 NOV 2022,7:00 AM IST
7,1st ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur, Dhaka\...",4 DEC 2022,12:30 PM IST

In [28]:
# close the driver
driver.close()

## 3. Scrape the details of selenium exception from guru99.com.
#### Url = https://www.guru99.com/
#### You need to find following details:
    A) Name
    B) Description
#### Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [6]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")

# get webpage
driver.get("https://www.guru99.com/")
driver.maximize_window()

In [7]:
# Click Selenium Button
Selenium = driver.find_element_by_xpath('//div[@class = "wp-block-kadence-column inner-column-2 kadence-column_f38d98-3a"]') # click button
try:
    Selenium.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(Selenium.get_attribute('href'))

In [8]:
# Click selenium exception handling  Button
exception_handling = driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [9]:
# Scrape all names tag
names=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in name[1:]:
        names.append(i.text)
except NoSuchElementException:
    names.append('N/A')

In [10]:
# Scrape all Description tag

desc=[]
try:
    descrip=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in descrip[1:]:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')

In [11]:
#create Dataframe

dataframe=pd.DataFrame()
dataframe['Exception name']=names
dataframe['Description']=desc
dataframe

Empty DataFrame
Columns: [Exception name, Description]
Index: []

In [12]:
#Close the driver
driver.close()

## 4. Scrape the details of State-wise GDP of India from statisticstime.com.
#### Url = http://statisticstimes.com/
#### You have to find following details:
    A) Rank
    B) State
    C) GSDP
    D) GSDP
    E) Share
    F) GDP
#### Note: - From statisticstimes home page you have to reach to economy page through code.

In [22]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the statisticstimes.com
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

#clicking on economy button
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(2)


#clicking on gdp of indian states
indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")

try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href')) 
time.sleep(2)


#scraping rank
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    rank.append('No details available')
time.sleep(2)


#scraping States
State=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    State.append('No details available')
time.sleep(2)


#scraping GSDP(19-20)
GSDP_20=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:           #handling no such element exception
    GSDP_20.append('No details available')
time.sleep(2)    
    
#scraping GSDP(18-19)
GSDP_19=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:        #handling no such element exception
    GSDP_19.append('No details available')
time.sleep(2)

#scraping share (18-19)
share=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:          #handling no such element exception
    share.append('No details available')
time.sleep(2)

#scraping GDP(billion$)
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:            #handling no such element exception
    GDP_billion.append('No details available')
time.sleep(2)

#creatng dataframe
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(19-20)':GSDP_20,
                'GSDP(18-19)':GSDP_19,
                'Share(18-19)':share,
                'GDP(Billion_$)':GDP_billion})
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

## 5. Scrape the details of trending repositories on Github.com.
#### Url = https://github.com/
#### You have to find the following details:
    A) Repository title
    B) Repository description
    C) Contributors count
    D) Language used

In [65]:
driver=webdriver.Chrome('chromedriver.exe')
url=('https://github.com/')
driver.get(url)

In [66]:
# Click on explore

explore = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [67]:
# Click on Trending

trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [68]:
#Creating empty list:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [69]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [70]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
     # Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [71]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

25 25 25 25

In [72]:
#Data Frame

Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,refinedev / refine,"Build your React-based CRUD applications, with...",102,"[TypeScript, JavaScript, CSS, Less, Smarty, Do..."
1,Sanster / lama-cleaner,Image inpainting tool powered by SOTA AI Model...,6,"[Python, TypeScript, SCSS, Other]"
2,yangshun / tech-interview-handbook,💯 Curated coding interview preparation materia...,125,"[TypeScript, JavaScript, Python, HTML, Other]"
3,milanm / DevOps-Roadmap,DevOps Roadmap for 2022. with learning resources,3,[]
4,SagerNet / sing-box,The universal proxy platform,15,"[Go, Other]"
5,alirezadir / machine-learning-interview-enligh...,This repo is meant to serve as a guide for Mac...,6,[Jupyter Notebook]
6,NCSC-NL / OpenSSL-2022,Operational information regarding CVE-2022-360...,74,[]
7,jwasham / coding-interview-university,A complete computer science study plan to beco...,278,[]
8,jamealg / KT-companion,A hiking and backpacking trail companion progr...,-,"[JavaScript, HTML, CSS]"
9,Taiga74164 / Akebi-GC,Akebi Genshin Cheat source for OS/CN 3.0,36,"[C++, C, Python]"
10,commaai / openpilot,openpilot is an open source driver assistance ...,362,"[Python, C++, C, Cython, MATLAB, Shell, Other]"
11,poteto / hiring-without-whiteboards,⭐️ Companies that don't have a broken hiring p...,"1,005",[JavaScript]
12,remix-run / remix,"Build Better Websites. Create modern, resilien...",458,"[TypeScript, JavaScript]"
13,openssl / openssl,TLS/SSL and crypto library,715,"[C, Perl, Raku, Assembly, Shell, C++, Other]"
14,colmmacc / CVE-2022-3602,-,-,"[Python, Shell]"
15,TeamNewPipe / NewPipe,A libre lightweight streaming front-end for An...,755,"[Java, Kotlin, HTML]"
16,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,328,"[Shell, Makefile, Other]"
17,facebookresearch / esm,Evolutionary Scale Modeling (esm): Pretrained ...,17,[Python]
18,windows-powertool / Powertool,Windows powertool is a windows 10 and 11 utili...,-,[]
19,SheerSt / pokewilds,PokeWilds - A Gen 2 Game/Engine using libGDX,7,[Assembly]
20,grafana / grafana,The open and composable observability and data...,"1,847","[TypeScript, Go, JavaScript, Rich Text Format,..."
21,kubernetes / client-go,Go client for Kubernetes.,507,[Go]
22,microsoft / PowerToys,Windows system utilities to maximize productivity,316,"[C#, C++, C, PowerShell, HTML, HLSL]"
23,NVIDIA / DeepLearningExamples,Deep Learning Examples,88,"[Python, Jupyter Notebook, Shell, C++, Cuda, M..."
24,puppeteer / puppeteer,Headless Chrome Node.js API,437,"[TypeScript, JavaScript, HTML, CSS, Dockerfile..."

In [73]:
driver.close()

## 6. Scrape the details of top 100 songs on billiboard.com.
#### Url = https:/www.billboard.com/
#### You have to find the following details:
    A) Song name
    B) Artist name
    C) Last week rank
    D) Peak rank
    E) Weeks on board

In [31]:
driver=webdriver.Chrome('chromedriver.exe')
# Getting the webpage of mentioned url 
driver.get('https://www.billboard.com/')

In [32]:
driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a').click()

In [33]:
name=[]
title=driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
for i in title:
    if not i.text=="":
        name.append(i.text)
        
names=[]        
names=name[:100]

In [34]:
a=[]
artist1=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in artist1:
    a.append(i.text)
    
restartist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in restartist:
        a.append(i.text)

In [35]:
pw=[]
peak_week=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in peak_week:
    pw.append((i.text).replace("\n"," ").split())

lw=[]
p=[]
woc=[]
for i in pw:
    lw.append(i[-3])
    p.append(i[-2])
    woc.append(i[-1])

In [38]:
df=pd.DataFrame({"Song Name":names,"Artist":a,"Last Week Rank":lw,"Peak Position":p,"Weeks on Charts":woc})
df

,Song Name,Artist,Last Week Rank,Peak Position,Weeks on Charts
0,Anti-Hero,Taylor Swift,-,1,1
1,Lavender Haze,Taylor Swift,-,2,1
2,Maroon,Taylor Swift,-,3,1
3,Snow On The Beach,Taylor Swift Featuring Lana Del Rey,-,4,1
4,Midnight Rain,Taylor Swift,-,5,1
...,...,...,...,...,...
95,Dark Red,Steve Lacy,-,78,5
96,From Now On,Lil Baby Featuring Future,42,42,2
97,Forget Me,Lewis Capaldi,99,95,4
98,Miss You,Oliver Tree & Robin Schulz,-,99,1
99,Despecha,Rosalia,92,63,12

## 7. Scrape the details of Data science recruiters from naukri.com.
#### Url = https://www.naukri.com/
#### You have to find the following details:
    A) Name
    B) Designation
    C) Company
    D) Skills they hire for
    E) Location

In [39]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

#get webpage
url=("https://www.naukri.com/hr-recruiters-consultants")
driver.get(url)
time.sleep(2)

In [40]:
#click on Browse All Recruiters
browse= driver.find_element(By.XPATH,"//a[@title='Search Recruiters']").get_attribute("href")
driver.get(browse)

#Search for Data Science Recruiters
driver.find_element(By.XPATH,"//input[@class='sugInp']").send_keys("Data Science")
driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']").click()

In [41]:
Name= []
Designation= []
Company= []
Skills= []
Location= []

In [42]:
#scraping Recruiters Name
try:
    Name_tag=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
    for i in Name_tag:
        Name.append(i.text)
except:
    Name.append("-")
    
#scraping Designation    
try:
    Designation_tag=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
    for i in Designation_tag:
        Designation.append(i.text)
except:
    Designation.append("-")

#scraping company    
try:
    Company_tag=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")[1::2]
    for i in Company_tag:
        Company.append(i.text)
except:
    Company.append("-")
    
#scraping skills    
try:
    Skills_tag=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
    for i in Skills_tag:
        Skills.append(i.text)
except:
    Skills.append("-")
    
#scraping Location
try:
    Location_tag=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")
    for i in Location_tag:
            Location.append(i.text)
except:
        Location.append("-")

#printing length
print(len(Name), len(Designation),len(Company), len(Skills), len(Location))

50 50 50 50 48

In [43]:
#creating Dataframe
df=pd.DataFrame({"Name":Name[:48],"Designation":Designation[:48],"Company":Company[:48],"Skills":Skills[:48],"Location":Location})
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad

## 8. Scrape the details of Highest selling novels.
#### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
#### You have to find the following details:
    A) Book name
    B) Author name
    C) Volumes sold
    D) Publisher
    E) Genre

In [36]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")

# get webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.maximize_window()

In [37]:
books=[]
genre=[]
try:
    bokks=driver.find_elements_by_xpath("//td[@class='left']")
    books.extend([i.text for i in bokks])
except:
    books.append("-")
    
try:
    genreTag=driver.find_elements_by_xpath("//td[@class='last left']")
    genre.extend([i.text for i in genreTag])
except:
    genre.append("-")

In [38]:
title=books[1::5]
author=books[2::5]
volSold=books[3::5]
publisher=books[4::5]

In [39]:
df=pd.DataFrame()
df['BookName']=title
df['Author']=author
df['Volume_Sold']=volSold
df['Publisher']=publisher
df['genre']=genre
df

,BookName,Author,Volume_Sold,Publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [40]:
#Close the driver
driver.close()

## 9. Scrape the details most watched tv series of all time from imdb.com.
#### Url = https://www.imdb.com/list/ls095964455/
#### You have to find the following details:
    A) Name
    B) Year span
    C) Genre
    D) Run time
    E) Ratings
    F) Votes

In [41]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")

# get webpage
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

In [42]:
#Scrape all tags

name=[]
yearSpan=[]
genre=[]
runTime=[]
ratings=[]
votes=[]
try:
    nameTag=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    name.extend([i.text for i in nameTag])
except:
    name.append("-")

try:
    yearSpantag=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
    yearSpan.extend([i.text for i in yearSpantag])
except:
    yearSpan.append("-")
    

try:
    genreTag=driver.find_elements_by_xpath("//span[@class='genre']")
    genre.extend([i.text for i in genreTag])
except:
    genre.append("-")
    
try:
    runTimeTag=driver.find_elements_by_xpath("//span[@class='runtime']")
    runTime.extend([i.text for i in runTimeTag])
except:
    runTime.append("-")
    
try:
    ratingsTag=driver.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
    ratings.extend([i.text for i in ratingsTag[::23]])
except:
    ratings.append("-")
    
try:
    votesTag=driver.find_elements_by_xpath("//span[@name='nv']")
    votes.extend([i.text for i in votesTag])
except:
    votes.append("-")

In [43]:
#CREATE DATAFRAME

df=pd.DataFrame()
df['Name']=name
df['YearSpan']=yearSpan
df['Ratings']=ratings
df['RunTime']=runTime
df['Genre']=genre
df['Votes']=votes
df

,Name,YearSpan,Ratings,RunTime,Genre,Votes
0,Game of Thrones,(2011–2019),9.2,57 min,"Action, Adventure, Drama","2,077,220"
1,Stranger Things,(2016– ),8.7,51 min,"Drama, Fantasy, Horror","1,167,671"
2,The Walking Dead,(2010–2022),8.1,44 min,"Drama, Horror, Thriller","978,833"
3,13 Reasons Why,(2017–2020),7.5,60 min,"Drama, Mystery, Thriller","291,383"
4,The 100,(2014–2020),7.6,43 min,"Drama, Mystery, Sci-Fi","250,491"
...,...,...,...,...,...,...
95,Reign,(2013–2017),7.4,42 min,Drama,"49,936"
96,A Series of Unfortunate Events,(2017–2019),7.8,50 min,"Adventure, Comedy, Drama","61,062"
97,Criminal Minds,(2005–2020),8.1,42 min,"Crime, Drama, Mystery","196,520"
98,Scream: The TV Series,(2015–2019),7.1,45 min,"Comedy, Crime, Drama","41,404"
99,The Haunting of Hill House,(2018),8.6,572 min,"Drama, Horror, Mystery","242,376"

In [44]:
#close the driver
driver.close()

## 10. Details of Datasets from UCI machine learning repositories.
#### Url = https://archive.ics.uci.edu/
#### You have to find the following details:
    A) Dataset name
    B) Data type
    C) Task
    D) Attribute type
    E) No of instances
    F) No of attribute
    G) Year

In [58]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")

# get webpage
driver.get(" https://archive.ics.uci.edu/")
driver.maximize_window()

In [59]:
# CLICK ON VIEW ALL DATASET
driver.get(driver.find_elements_by_xpath("//span[@class='normal']/b/a")[0].get_attribute('href'))

In [60]:
# Scrape all tag

data=[]
try:
    tag=driver.find_elements_by_xpath("//td//p[@class='normal']")
    data.extend([i.text for i in tag[8:4362]])
except:
    data.append('-')

In [61]:
#slicing dataset

dtset=data[::7]
dtype=data[1::7]
task=data[2::7]
attTypeType=data[3::7]
no_instances=data[4::7]
no_att=data[5::7]
year=data[6::7]

In [62]:
# create dataframe
df=pd.DataFrame()
df['datasetName']=data[::7]
df['dataTypes']=data[1::7]
df['task']=data[2::7]
df['AttributrType']=data[3::7]
df['noOfInstances']=data[4::7]
df['noOFAttribute']=data[5::7]
df['year']=data[6::7]
df

,datasetName,dataTypes,task,AttributrType,noOfInstances,noOFAttribute,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [63]:
#close the driver
driver.close()